@mixin custom-btn-primary {
    background-color: $theme-primary-color;
    color: $theme-color-white;
    min-width: 170px;
    min-height: 50px;
    border: 0;
}

@mixin custom-btn-secondary {
  background-color: $theme-accent-two;
  color: $theme-primary-color;
  min-width: 120px;
  min-height: 50px;
  border: 0;
}

@mixin theme-shadow {
  box-shadow: $theme-box-shadow;
}

@mixin custom-link {
  background-color: $theme-accent-two;
  color: $theme-primary-color;
  min-width: 120px;
  min-height: 40px;
  &:hover {
    background-color: transparent;
    color: $theme-secondary-color;
    border:2px solid $theme-primary-color;
  }
}

@mixin highlight {
  content: '';
  position: absolute; 
  width: 20px;
  height: 2px;
  background-color: $theme-primary-color;
}