* {
  outline: none;
}
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  color: $theme-primary-color;
}
a:hover, a:active, a:focus {
  transition: all ease-in-out 0.3s;
  color: $theme-primary-color;

}
:focus-visible {
  outline: none;
}
button:focus:not(:focus-visible) {
  box-shadow:$theme-box-shadow;
}
a, a:hover {
  text-decoration: none;
}