$theme-primary-color:#1CB22E;
$theme-secondary-color:#212733;
$theme-accent-one:#9b9b9b;
$theme-accent-two:#F2F3F8;
$theme-link-color:#008CFF;
$theme-color-white:#ffffff;

/*-- font style --*/
$font-extra-small:0.75rem;
$font-small: 0.875rem;
$font-black: 900;

$theme-box-shadow:0 0 1.375rem rgba($theme-secondary-color, .10);

$theme-text-shadow:0 0 1.375rem rgba($theme-secondary-color, .10);

/*-- media query --*/
$break-small: 575px;
$break-medium: 767px;
$break-large: 992px;
$break-x-large: 1200px;

