html,
body,
iframe,
h1,
h2,
h3,
h4,
h5,
h6 {
  border: 0 none;
  font-family: Helvetica, Arial, sans-serif;
  font-feature-settings: inherit;
  font-kerning: inherit;
  font-language-override: inherit;
  font-size: 12px;
  font-size-adjust: inherit;
  font-stretch: inherit;
  font-style: inherit;
  font-synthesis: inherit;
  font-variant: inherit;
  font-weight: normal;
  line-height: 18px;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.cl {
  clear: both;
}

ul,
ol {
  box-sizing: border-box;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  min-height: 60px;
  padding: 5px 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #b9b9b9;
  border-radius: 2px;
  color: #2c2c2c;
  display: block;
  outline: medium none;
  padding: 2px;
  text-indent: 4px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  cursor: pointer;
  padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0 none;
  padding: 0;
}

img,
object,
embed,
video {
  border: 0 none;
  max-width: 100%;
}

a:focus {
  outline: medium none !important;
}

.wsmobileheader {
  display: none;
}

.overlapblackbg {
  display: none;
}

.wsmenu {
  background-color: transparent;
  border-radius: 4px 4px 0 0;
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
  position: relative;
  width: 100%;
}

.wsmenu-list {
  display: table;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  width: 100%;
}

.wsmenu-list > li {
  display: table-cell;
  text-align: center;
}

.wsmenu-list li:first-child a {
  border-radius: 4px 0 0;
}

.wsmenu-list li:last-child a {
  border-radius: 0 4px 0 0;
  border-right: 0 solid;
}

.wsmenu-list > li > a .fa {
  display: inline-block;
  font-size: 14px;
  line-height: inherit;
  margin-right: 0;
}

.wsmenu-list li ul li a .fa.fa-angle-double-right {
  font-size: 12px;
  margin: 0 3px 0 -4px;
}

.wsmenu-list li a .arrow::after {
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-top: 4px solid #b3b3b3;
  content: "";
  float: right;
  height: 0;
  margin: 0 0 0 9px;
  position: absolute;
  text-align: right;
  top: 22px;
  width: 0;
}

.wsmenu-list > li > a {
  background-color: #fff;
  color: #424242;
  display: block;
  line-height: 48px;
  padding: 0 14px;
  position: relative;
  text-decoration: none;
}

.wsmenu-list li a:hover .arrow::after {
  border-top-color: #b3b3b3;
}

.wsmenu-list li a.active .arrow::after {
  border-top-color: #b3b3b3;
}

.wsmenu-list li:hover > a .arrow::after {
  border-top-color: #b3b3b3;
}

.megamenu iframe {
  margin-top: 10px;
  min-height: 200px;
  width: 100%;
}

.megamenu video {
  margin-top: 10px;
  min-height: 200px;
  width: 100%;
}

.wsmenu-list li:hover .megamenu {
  opacity: 1;
}

.megamenu {
  background-color: #fff;
  border: 1px solid #eeeeee;
  color: #000;
  font-size: 15px;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 14px;
  position: absolute;
  text-align: left;
  top: 48px;
  transform-origin: 0 0 0;
  transition: -moz-transform 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 100%;
  z-index: 1000;
}

.megamenu .title {
  border-bottom: 1px solid #ccc;
  color: #424242;
  font-size: 17px;
  height: 39px;
  margin: 0 0 7px;
  padding: 9px 5px 9px 0;
  text-align: left;
}

.link-list li {
  display: block;
  text-align: left;
  white-space: nowrap;
}

.link-list li a {
  background: #fff none repeat scroll 0 0 !important;
  border-right: 0 none !important;
  color: #666666 !important;
  display: block;
  line-height: 18px;
  padding: 6px 0;
  text-align: left;
}

.link-list .fa {
  font-size: 11px;
}

.megacollink {
  float: left;
  margin: 0 1%;
  width: 23%;
}

.megacollink li {
  display: block;
  text-align: left;
  white-space: nowrap;
}

.megacollink li a {
  background: #fff none repeat scroll 0 0 !important;
  border-right: 0 none !important;
  color: #666666 !important;
  display: block;
  line-height: 18px;
  padding: 8px 0;
  text-align: left;
}

.megacollink .fa {
  font-size: 11px;
}

.megacolimage {
  float: left;
  margin: 0 1%;
  width: 31.33%;
}

.typographydiv {
  margin: 0;
  width: 100%;
}

.typographylinks {
  float: left;
  margin: 0;
  width: 25%;
}

.mainmapdiv {
  display: block;
  margin: 0;
  width: 100%;
}

.wsmenu-list .ad-style {
  float: right;
  width: 28%;
}

.wsmenu-list .ad-style a {
  background-image: none !important;
  border: medium none !important;
  line-height: normal !important;
  margin: 0 !important;
  padding: 0 !important;
}

.mobile-sub .megamenu .ad-style a:hover {
  background-color: transparent !important;
}

.wsmenu-list .megamenu li:hover > a {
  background: transparent none repeat scroll 0 0 !important;
}

.wsmenu-list .megamenu li a:hover {
  background: transparent none repeat scroll 0 0 !important;
  text-decoration: underline;
}

.wsmenu-list .megamenu li .fa {
  margin-right: 5px;
  text-align: center;
  width: 18px;
}

.mrgtop {
  margin-top: 15px;
}

.show-grid div {
  background-color: #dbdbdb;
  border: 1px solid #e7e7e7;
  color: #6a6a6a;
  margin: 2px 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

.halfmenu {
  left: auto !important;
  right: auto !important;
  width: 40%;
}

.halfmenu .megacollink {
  float: left;
  margin: 0 1%;
  width: 48%;
}

.halfdiv {
  left: auto;
  right: 0 !important;
  width: 35%;
}

.menu_form {
  display: block;
  width: 100%;
}

.menu_form input[type="text"] {
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  color: #000;
  font-size: 13px;
  margin-bottom: 8px;
  padding: 8px 5px;
  width: 100%;
}

.menu_form textarea {
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  color: #000;
  font-size: 13px;
  margin-bottom: 8px;
  min-height: 122px;
  padding: 8px 5px;
  width: 100%;
}

.menu_form input[type="submit"] {
  border: 1px solid #ccc;
  border-radius: 2px;
  display: block;
  float: right;
  height: 28px;
  margin-right: 15px;
  width: 25%;
}

.menu_form input[type="button"] {
  border: 1px solid #ccc;
  border-radius: 2px;
  display: block;
  float: right;
  height: 28px;
  width: 25%;
}

.megamenu .left.carousel-control {
  padding-top: 20%;
}

.megamenu .right.carousel-control {
  padding-top: 20%;
}

.carousel-inner .item img {
  width: 100%;
}

.megamenu .carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  font-size: 13px;
  height: 31px;
  left: 0;
  padding: 7px 0;
  right: 0;
  width: 100%;
}

.wsmenu-list li > .wsmenu-submenu {
  transform: rotateX(-75deg);
  transform-style: preserve-3d;
  visibility: hidden;
}

.wsmenu-list li:hover > .wsmenu-submenu {
  opacity: 1;
  transform: rotateX(0deg);
  visibility: visible;
}

.wsmenu-submenu li > .wsmenu-submenu-sub {
  transform: rotateX(-75deg);
  transform-style: preserve-3d;
  visibility: hidden;
}

.wsmenu-submenu li:hover > .wsmenu-submenu-sub {
  opacity: 1;
  transform: rotateX(0deg);
  visibility: visible;
}

.wsmenu-submenu-sub li > .wsmenu-submenu-sub-sub {
  transform: rotateX(-75deg);
  transform-style: preserve-3d;
  visibility: hidden;
}

.wsmenu-submenu-sub li:hover > .wsmenu-submenu-sub-sub {
  opacity: 1;
  transform: rotateX(0deg);
  visibility: visible;
}

.wsmenu-list li > .megamenu {
  transform: rotateX(-75deg);
  transform-style: preserve-3d;
  visibility: hidden;
}

.wsmenu-list li:hover > .megamenu {
  opacity: 1;
  transform: rotateX(0deg);
  visibility: visible;
}

.wsmenu-submenu {
  background-color: #fff;
  border: 1px solid #eeeeee;
  margin: 0;
  opacity: 0;
  padding: 2px;
  position: absolute;
  top: 48px;
  transform-origin: 0 0 0;
  transition: -moz-transform 0.3s ease 0s, opacity 0.3s ease 0s;
  z-index: 1000;
}

.wsmenu-submenu li a {
  background: #fff none repeat scroll 0 0 !important;
  border-right: 0 none !important;
  color: #666666 !important;
  display: block;
  font-size: 13px;
  letter-spacing: normal;
  line-height: 22px;
  padding: 6px 12px;
  text-align: left;
  text-transform: none;
}

.wsmenu-submenu li {
  margin: 0;
  padding: 0;
  position: relative;
}

.wsmenuexpandermain {
  display: none;
}

.wsmenu-list li:hover .wsmenu-submenu {
  display: block;
}

.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub {
  left: 100%;
  margin: 0;
  min-width: 220px;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  transform-origin: 0 0 0;
  transition: -moz-transform 0.4s ease 0s, opacity 0.4s ease 0s;
}

.wsmenu-list .wsmenu-submenu li:hover .wsmenu-submenu-sub {
  background-color: #fff;
  border: 1px solid #eeeeee;
  list-style: outside none none;
  opacity: 1;
  padding: 2px;
}

.wsmenu-list .wsmenu-submenu li:hover .wsmenu-submenu-sub {
  display: block;
}

.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub .wsmenu-submenu-sub-sub {
  left: 100%;
  margin: 0;
  min-width: 220px;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  transform-origin: 0 0 0;
  transition: -moz-transform 0.4s ease 0s, opacity 0.4s ease 0s;
}

.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub li:hover .wsmenu-submenu-sub-sub {
  background-color: #fff;
  border: 1px solid #eeeeee;
  list-style: outside none none;
  opacity: 1;
  padding: 2px;
}

.wsmenu-submenu li {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}

.wsmenu-click {
  display: none;
}

.wsmenu-click02 {
  display: none;
}

.wsmenu-list li:hover > a {
  background-color: rgba(0, 0, 0, 0.08) !important;
  text-decoration: none;
}

.wsmenu-list > li > a:hover {
  background-color: rgba(0, 0, 0, 0.08) !important;
  text-decoration: none;
}

.wsmenu-list > li > a.active {
  background-color: rgba(0, 0, 0, 0.0) !important;
  text-decoration: none;
  border-radius: 0%;
}

.wsmenu-submenu > li > a:hover {
  background-color: rgba(0, 0, 0, 0.08) !important;
  border-radius: 0 !important;
  text-decoration: none;
}

.typography-text {
  font-size: 14px;
  padding: 0;
}

.typography-text p {
  color: #656565;
  line-height: 24px;
  text-align: justify;
}

.typography-text ul li {
  display: block;
  line-height: 22px;
  padding: 2px 0;
}

.typography-text ul li a {
  color: #656565;
}

.hometext {
  display: none;
}

.wsmenu-submenu .fa {
  margin-right: 7px;
}

@media only screen and (min-width: 780px) and (max-width: 1023px) {
  .wsmenu-list > li > a > .fa {
    display: none !important;
  }
  .hometext {
    display: block !important;
  }
  .wsmenu {
    font-size: 13px !important;
  }
  .wsmenu-list li a {
    padding-left: 4px !important;
    padding-right: 4px !important;
    white-space: nowrap !important;
  }
  .megacollink {
    margin: 1%;
    width: 48%;
  }
  .typographylinks {
    margin: 1%;
    width: 48%;
  }
}

@media only screen and (min-width: 781px) and (max-width: 1200px) {
  .wsmenu-list li a .arrow::after {
    display: none !important;
  }
}

@media only screen and (min-width: 781px) {
  .wsmenu-list li:hover > .wsmenu-submenu {
    display: block !important;
  }
  .wsmenu-submenu li:hover > .wsmenu-submenu-sub {
    display: block !important;
  }
  .wsmenu-submenu-sub li:hover > .wsmenu-submenu-sub-sub {
    display: block !important;
  }
  .wsmenu-list li:hover > .megamenu {
    display: block !important;
  }
}

@media only screen and (max-width: 780px) {
  .wsoffcanvasopener .wsmenu {
    left: 0;
    transition: all 0.4s ease-in-out 0s;
  }
  .wsmenucontainer.wsoffcanvasopener {
    display: block;
    margin-left: 240px;
  }
  .wsmobileheader {
    display: block !important;
    left: 0;
    right: 0;
    top: 0;
    transition: all 0.4s ease-in-out 0s;
  }
  .wsmenu-list > li:hover > a {
    background-color: rgba(0, 0, 0, 0.08) !important;
    text-decoration: none;
  }
  .hometext {
    display: inline-block !important;
  }
  .megacollink {
    margin: 0 2% !important;
    width: 96% !important;
  }
  .megacolimage {
    margin: 0 5% !important;
    width: 90% !important;
  }
  .typographylinks {
    margin: 0 1% !important;
    width: 98% !important;
  }
  .typographydiv {
    margin: 0 7% !important;
    width: 86% !important;
  }
  .mainmapdiv {
    margin: 0 5% !important;
    width: 90% !important;
  }
  .overlapblackbg {
    background-color: rgba(0, 0, 0, 0.45);
    cursor: pointer;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
  }
  .wsoffcanvasopener .overlapblackbg {
    display: block !important;
  }
  .wsmenu-submenu > li:hover > a {
    background-color: #7b7b7b;
    color: #666666;
  }
  .wsmenu > .wsmenu-list > li > a.active {
    background-color: rgba(0, 0, 0, 0.08);
    color: #666666;
  }
  .wsmenu > .wsmenu-list > li > a:hover {
    background-color: rgba(0, 0, 0, 0.08);
    color: #666666;
  }
  .wsmenu-list li:hover .wsmenu-submenu {
    display: none;
  }
  .wsmenu-list li:hover .wsmenu-submenu .wsmenu-submenu-sub {
    display: none;
  }
  .wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub li:hover .wsmenu-submenu-sub-sub {
    background-color: #fff;
    border: 1px solid #eeeeee;
    display: none;
    list-style: outside none none;
    padding: 2px;
  }
  .wsmenu-list li:first-child a {
    border-radius: 0;
  }
  .wsmenu-list li:last-child a {
    border-radius: 0;
    border-right: 0 solid;
  }
  .innerpnd {
    padding: 0 !important;
  }
  .typography-text {
    padding: 10px 0;
  }
  .wsmenucontainer {
    backface-visibility: hidden;
    overflow: hidden;
    transition: all 0.4s ease-in-out 0s;
  }
  .wsmenu-click {
    cursor: pointer;
    display: block;
    height: 43px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
  .wsmenu-click i {
    background-size: 25px auto;
    color: rgba(0, 0, 0, 0.25);
    display: block;
    float: right;
    font-size: 21px;
    height: 23px;
    margin-right: 8px;
    margin-top: 11px;
    width: 25px;
  }
  .wsmenu-click02 {
    cursor: pointer;
    display: block;
    height: 43px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
  .wsmenu-click02 i {
    background-size: 25px auto;
    color: rgba(0, 0, 0, 0.25);
    display: block;
    float: right;
    font-size: 21px;
    height: 23px;
    margin-right: 8px;
    margin-top: 11px;
    width: 25px;
  }
  .ws-activearrow > i {
    transform: rotate(180deg);
  }
  .wsmenu-rotate {
    transform: rotate(180deg);
  }
  .wsmenu-submenu-sub {
    border: 0 solid !important;
    display: none;
    left: 100% !important;
    margin: 0 !important;
    opacity: 1 !important;
    padding: 0 !important;
    position: static !important;
    top: 0 !important;
    transform: none !important;
    visibility: visible !important;
    width: 100% !important;
  }
  .wsmenu-submenu-sub li {
    margin: 0 !important;
    padding: 0;
    position: relative;
  }
  .wsmenu-submenu-sub a {
    border-bottom: 1px solid #ccc;
    display: block;
    font-weight: normal;
    padding: 10px 25px;
  }
  .wsmenu-submenu-sub li a.active {
    color: #000 !important;
  }
  .wsmenu-submenu-sub li:hover > a {
    background-color: #333333 !important;
    color: #fff;
  }
  .wsmenu-list > li > a .fa {
    margin-right: 6px;
  }
  .wsmenu-submenu-sub-sub {
    border: 0 solid !important;
    display: none;
    left: 100% !important;
    margin: 0 !important;
    opacity: 1 !important;
    padding: 0 !important;
    position: static !important;
    top: 0 !important;
    transform: none !important;
    visibility: visible !important;
    width: 100% !important;
  }
  .wsmenu-submenu-sub-sub li {
    margin: 0 !important;
  }
  .wsmenu-submenu-sub-sub a {
    background: #000 none repeat scroll 0 0 !important;
    border-bottom: 1px solid #ccc;
    color: #000;
    display: block;
    font-weight: normal;
    padding: 10px 25px;
  }
  .wsmenu-submenu-sub-sub li a.active {
    color: #000 !important;
  }
  .wsmenu-submenu-sub-sub li:hover > a {
    background-color: #606060 !important;
    color: #fff;
  }
  .wsmenu {
    position: relative;
  }
  .wsmenu .wsmenu-list {
    display: block !important;
    height: 100%;
    overflow-y: auto;
  }
  .wsmenu .wsmenu-list > li {
    background-color: transparent;
    border-right: medium none;
    display: block;
    float: none;
    position: relative;
    white-space: inherit;
    width: 100%;
  }
  .wsmenu > .wsmenu-list > li > a {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    border-right: 0 solid;
    color: #666666;
    font-size: 14px;
    line-height: 25px;
    padding: 9px 32px 9px 17px;
    position: static;
    text-align: left;
  }
  .wsmenu > .wsmenu-list > li > a > .fa {
    color: #bfbfbf;
    font-size: 16px;
  }
  .wsmenu .wsmenu-list li a .arrow::after {
    display: none !important;
  }
  .wsmenu .wsmenu-list li ul li a .fa.fa-caret-right {
    color: #8e8e8e;
    font-size: 12px !important;
  }
  .mobile-sub .wsmenu-submenu {
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
    opacity: 1 !important;
    padding: 0;
    position: relative !important;
    top: 0;
    transform: none !important;
    visibility: visible !important;
  }
  .mobile-sub .wsmenu-submenu li a {
    background-color: #e7e7e7 !important;
    color: #8e8e8e;
    font-size: 13px !important;
    height: 36px;
    line-height: 20px;
    padding: 8px 0 8px 18px;
  }
  .mobile-sub .wsmenu-submenu li a:hover {
    background-color: #e7e7e7 !important;
    color: #666666;
    text-decoration: underline;
  }
  .mobile-sub .wsmenu-submenu li:hover > a {
    background-color: #e7e7e7 !important;
    color: #666666;
  }
  .mobile-sub .wsmenu-submenu li .wsmenu-submenu-sub li a {
    background-color: #e7e7e7 !important;
    border-bottom: medium none;
    height: 36px;
    line-height: 20px;
    padding-left: 28px;
  }
  .mobile-sub .wsmenu-submenu li .wsmenu-submenu-sub li .wsmenu-submenu-sub-sub li a {
    background-color: #e7e7e7 !important;
    border-bottom: medium none !important;
    color: #8e8e8e;
    height: 36px;
    line-height: 20px;
    padding-left: 38px;
  }
  .wsmenu-list .megamenu {
    background-color: #e7e7e7;
    border: 0 solid;
    color: #666666;
    display: none;
    opacity: 1 !important;
    padding: 0;
    position: relative !important;
    top: 0;
    transform: none !important;
    visibility: visible !important;
  }
  .wsmenu-list li:hover .megamenu {
    display: none;
    position: relative !important;
    top: 0;
  }
  .megamenu .title {
    color: #666666;
    font-size: 15px !important;
    padding: 10px 8px 10px 0;
  }
  .halfdiv .title {
    padding-left: 15px;
  }
  .megamenu > ul {
    font-size: 13px !important;
    margin: 0;
    padding: 0;
    width: 100% !important;
  }
  .megamenu > ul > li > a {
    background-color: #e7e7e7 !important;
    color: #666666;
    font-size: 13px !important;
    line-height: normal !important;
    padding: 9px 14px !important;
  }
  .megamenu > ul > li > a:hover {
    background-color: #000000 !important;
  }
  .ad-style {
    width: 100% !important;
  }
  .megamenu ul li.title {
    background-color: transparent !important;
    border-bottom: 1px solid #ccc;
    color: #666666;
    font-size: 15px;
    line-height: 26px;
    margin: 0;
    padding: 7px 13px !important;
  }
  .halfdiv {
    display: block;
    width: 100%;
  }
  .halfmenu {
    display: block;
    width: 100%;
  }
  .menu_form {
    background-color: #e7e7e7;
    padding: 10px 10px 63px;
  }
  .menu_form input[type="button"] {
    width: 46%;
  }
  .menu_form input[type="submit"] {
    width: 46%;
  }
  .menu_form textarea {
    min-height: 100px;
  }
  .wsmenu {
    background-color: #fff !important;
    border: medium none !important;
    border-radius: 0;
    height: 100%;
    left: -240px;
    margin: 0;
    position: fixed;
    top: 0;
    transition: all 0.4s ease-in-out 0s;
    width: 240px;
    z-index: 103;
  }
  .animated-arrow {
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.4s ease-in-out 0s;
    z-index: 102;
    display: flex;
    justify-content: center;
  }
  .callusicon {
    color: #c9c9c9;
    font-size: 25px;
    height: 25px;
    position: fixed;
    right: 15px;
    top: 13px;
    transition: all 0.4s ease-in-out 0s;
    width: 25px;
    z-index: 102;
  }
  .callusicon:focus,
  callusicon:hover {
    color: #fff !important;
  }
  .wsoffcanvasopener .callusicon {
    display: none !important;
  }
  .smallogo {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #262626 0px, #1c1c1c 50%, #262626 100%) repeat scroll 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    display: block;
    height: 52px;
    padding-top: 9px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 101;
  }
  .wsoffcanvasopener .animated-arrow {
    left: 220px;
  }
  .animated-arrow {
    cursor: pointer;
    margin: 15px 20px;
    padding: 20px 20px 20px 20px;
    background: red;
  }
  .animated-arrow span,
  .animated-arrow span::before,
  .animated-arrow span::after {
    background: #c9c9c9 none repeat scroll 0 0;
    content: "";
    cursor: pointer;
    display: block;
    height: 3px;
    position: absolute;
    width: 23px;
  }
  .animated-arrow span::before {
    top: -7px;
  }
  .animated-arrow span::after {
    bottom: -7px;
  }
  .animated-arrow span,
  .animated-arrow span::before,
  .animated-arrow span::after {
    transition: all 500ms ease-in-out 0s;
  }
  .wsoffcanvasopener .animated-arrow span {
    background-color: transparent;
  }
  .wsoffcanvasopener .animated-arrow span::before,
  .animated-arrow.active span::after {
    top: 7px;
  }
  .wsoffcanvasopener .animated-arrow span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  .wsoffcanvasopener .animated-arrow span::after {
    transform: rotate(-45deg);
  }
  .wsmenu-list li > .wsmenu-submenu {
    transform: none !important;
    visibility: visible !important;
  }
  .wsmenu-list li:hover > .wsmenu-submenu {
    transform: none !important;
    visibility: visible !important;
  }
  .wsmenu-submenu li > .wsmenu-submenu-sub {
    transform: none !important;
    visibility: visible !important;
  }
  .wsmenu-submenu li:hover > .wsmenu-submenu-sub {
    opacity: 1 !important;
    transform: none !important;
    visibility: visible !important;
  }
  .wsmenu-submenu-sub li > .wsmenu-submenu-sub-sub {
    opacity: 1 !important;
    transform: none !important;
    visibility: visible !important;
  }
  .wsmenu-submenu-sub li:hover > .wsmenu-submenu-sub-sub {
    opacity: 1 !important;
    transform: none !important;
    visibility: visible !important;
  }
  .wsmenu-list li > .megamenu {
    opacity: 1 !important;
    transform: none !important;
    visibility: visible !important;
  }
  .wsmenu-list li:hover > .megamenu {
    opacity: 1 !important;
    transform: none !important;
    visibility: visible !important;
  }
}

body {
  background-color: #f5f5f5;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
  min-width: 320px;
}

.header {
  width: 100%;
  display: block;
}

.logo {
  padding: 49px 0px;
  margin: 0 auto;
  text-align: center;
}

.show-grid {
  background-color: #fff;
}

@-webkit-keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}


/*Color Demo*/

.moreoption {
  width: 100%;
  display: block;
  margin-top: 250px;
}

.moreoption .boxheader {
  border: solid 0px;
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 17px;
}

.buttoncolor {
  color: #fff;
  display: block;
  font-size: 13px;
  padding: 10px 15px;
  text-decoration: none;
  transition: background 0.3s linear 0s;
  width: 12.5%;
  height: 30px;
  float: left;
  text-align: center;
  margin: 0px 0px;
}

.buttoncolor:hover {
  color: #fff;
  text-decoration: none;
}

.buttoncolor:focus {
  color: #fff;
  text-decoration: none;
}

.headertlt {
  width: 100%;
  padding: 40px 0px 15px 0px;
  letter-spacing: -0.5px;
  font-size: 22px;
  font-family: 'archivo_narrowregular';
  color: #424242;
}

.colorlink01 {
  width: 40%;
  float: left;
  margin: 0% 0% 0% 2%;
}

.colorlink02 {
  width: 40%;
  float: left;
  margin: 0% 0% 0% 2%;
}

.colorlink03 {
  width: 14%;
  float: left;
  margin: 0% 0% 0% 2%;
}

.buttoncolor02 {
  color: #424242;
  display: block;
  font-size: 15px;
  border-radius: 2px;
  height: 30px;
  padding: 10px 15px;
  text-decoration: none;
  transition: background 0.3s linear 0s;
  width: 100%;
  border-right: solid 5px #fff;
  float: left;
  text-align: center;
  margin: 0% 0% 0% 0%;
  background-color: #f2f2f2;
  border: solid 1px #D9D9D9;
  cursor: pointer;
  text-align: center !important;
  text-decoration: none !important;
  width: 50%;
  float: left;
}

.buttoncolor02:hover {
  background-color: #424242;
  color: #000;
}

.buttoncolor02.active {
  background-color: #424242;
  color: #fff;
}

.main-content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 230px) and (max-width:780px) {
  .wrapper {
    width: 100%;
    margin: 0% 0%;
  }
  .header {
    min-height: 75px;
  }
  .logo {
    display: none !important;
  }
  .header {
    box-shadow: none !important;
    background-image: none !important;
  }
  .colorlink01 {
    width: 92% !important;
    margin: 0% 4%;
  }
  .colorlink02 {
    width: 92% !important;
    margin: 0% 4%;
  }
  .colorlink03 {
    width: 92% !important;
    margin: 0% 4%;
  }
  .buttoncolor02 {
    width: 100% !important;
    margin-bottom: 2%;
  }
  .buttoncolor {
    width: 25%;
  }
  .moreoption {
    width: 100%;
    margin: 85px 0 0 0;
    background-color: transparent !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

@media only screen and (min-width: 781px) and (max-width:1064px) {
  .wrapper {
    width: 96%;
    margin: 0% 2%;
  }
  .colorlink01 {
    width: 100% !important;
    margin: 0%;
  }
  .colorlink02 {
    width: 100% !important;
    margin: 0%;
  }
  .colorlink03 {
    width: 100% !important;
    margin: 0%;
  }
  .buttoncolor02 {
    width: 50% !important;
    margin-bottom: 1%;
  }
  .logo {
    float: none !important;
    margin: 0 auto !important;
    width: 100% !important;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) and (max-width:1200px) {
  .wrapper {
    width: 96%;
    margin: 0% 2%;
  }
  .colorlink01 {
    width: 100% !important;
    margin: 0%;
  }
  .colorlink02 {
    width: 100% !important;
    margin: 0%;
  }
  .colorlink03 {
    width: 100% !important;
    margin: 0%;
  }
}

/*Animation*/
.wsmenu-list li > .wsmenu-submenu{transform-style: preserve-3d;-webkit-transform-style: preserve-3d;transform: rotateX(-90deg);-o-transform: rotateX(-90deg);-moz-transform: rotateX(-90deg);-webkit-transform: rotateX(-90deg);}
.wsmenu-list li:hover > .wsmenu-submenu{box-shadow: 0px 6px 19px rgba(0, 0, 0, 0.08);transform: rotateX(0deg);-o-transform: rotateX(0deg);-moz-transform: rotateX(0deg);-webkit-transform: rotateX(0deg);opacity: 1;}
.wsmenu-submenu li > .wsmenu-submenu-sub{transform-style: preserve-3d;-webkit-transform-style: preserve-3d;transform: rotateX(-90deg);-o-transform: rotateX(-90deg);-moz-transform: rotateX(-90deg);-webkit-transform: rotateX(-90deg);}
.wsmenu-submenu li:hover > .wsmenu-submenu-sub{transform: rotateX(0deg);-o-transform: rotateX(0deg);-moz-transform: rotateX(0deg);-webkit-transform: rotateX(0deg);opacity: 1;}
.wsmenu-submenu-sub li > .wsmenu-submenu-sub-sub{transform-style: preserve-3d;-webkit-transform-style: preserve-3d;transform: rotateX(-90deg);-o-transform: rotateX(-90deg);-moz-transform: rotateX(-90deg);-webkit-transform: rotateX(-90deg);}
.wsmenu-submenu-sub li:hover > .wsmenu-submenu-sub-sub{transform: rotateX(0deg);-o-transform: rotateX(0deg);-moz-transform: rotateX(0deg);-webkit-transform: rotateX(0deg);opacity: 1;}
.wsmenu-list li > .megamenu{transform-style: preserve-3d;-webkit-transform-style: preserve-3d;transform: rotateX(-90deg);-o-transform: rotateX(-90deg);-moz-transform: rotateX(-90deg);-webkit-transform: rotateX(-90deg);}
.wsmenu-list li:hover > .megamenu{transform: rotateX(0deg);-o-transform: rotateX(0deg);-moz-transform: rotateX(0deg);-webkit-transform: rotateX(0deg);opacity: 1;}
/* Submenu CSS */
.wsmenu-submenu {position:absolute;top: 48px;z-index:1000; min-width:190px; margin:0px;padding:2px;border:solid 1px #fff;background-color:#fff;opacity: 0;-o-transition: -o-transform 0.3s, opacity 0.3s;-ms-transition: -ms-transform 0.3s, opacity 0.3s;transition: transform 0.3s, opacity 0.3s;-moz-transition: -moz-transform 0.3s, opacity 0.3s;-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;}
.wsmenu-submenu li a {background:#fff;background-image:none !important;color: #000;border-right: 0 none;text-align:left;display:block;line-height:22px;padding:6px 20px 6px 12px;text-transform:none; font-size:16px;letter-spacing:normal;border-right:0px solid;}
.wsmenu-submenu li{position:relative; margin:0px; padding:0px;}
.wsmenuexpandermain{display:none;}
.wsmenu-list li:hover .wsmenu-submenu{display:block;}
.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub{min-width:165px; position:absolute; left:100%; top:0; margin:0px; padding:0px;opacity: 0;-o-transition: -o-transform 0.4s, opacity 0.4s;-ms-transition: -ms-transform 0.4s, opacity 0.4s;transition: transform 0.4s, opacity 0.4s;-moz-transition: -moz-transform 0.4s, opacity 0.4s;-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;}
.wsmenu-list .wsmenu-submenu li:hover .wsmenu-submenu-sub{opacity:1; list-style:none; padding:2px; border:solid 1px #eeeeee; background-color:#fff;}
.wsmenu-list .wsmenu-submenu li:hover .wsmenu-submenu-sub{display:block;}
.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub .wsmenu-submenu-sub-sub{min-width:220px; position:absolute; left:100%; top:0; margin:0px; padding:0px;opacity: 0;}
.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub li:hover .wsmenu-submenu-sub-sub{opacity:1; list-style:none; padding:4px; border:solid 1px #eeeeee; background-color:#fff;}
.wsmenu-submenu li{position:relative; padding:0px; margin:0px; display:block;}
.wsmenu-click{display:none;}